:root {
  --burnt-orange: #FFC300;
}

html {
  background-color: black;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: white;
}
p {
  font-size: 1.4rem;
  padding-top: 2rem;
  line-height: 130%;
}
p span {
  font-weight: 300;
}
a {
  color: var(--burnt-orange);
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}
a:active {
  opacity: 0.5;
}
img {
  max-width: 100%;
}

/* NAV LINKS */
.nav-links{
  padding: 1.3rem 0;
  text-align: center;
  z-index: 2000;
  background-color:rgba(0, 0, 0, 0.7);
  top: 0;
  position: fixed;
  width: 100%;
}
/* .nav-links a:first-child {
  color: red;
} */
.nav-links a {
  margin: 0 1%;
}
.nav-links > a ~ a {
  border-left: 1px solid var(--burnt-orange);;
  padding-left: 2%;
}

/* HERO AND LOGO */
.hero {
  position: fixed;
  top: 0;
  background: linear-gradient(
                     rgba(20,20,20, 0.6),
                     rgba(20,20,20, 0.6)),
                     url(../img/macbook.jpg);
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.hero:after {
  bottom: 10vh;
  color: #fff;
  content: "﹀";
  font-size: 2.5rem;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}
.logo {
  color: white;
  font-size: 2rem;
  /* height: 30%; */
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 28rem;
  width: 100%;
}
.logo span {
  border-left: 0.1rem solid white;
  margin-left: 2rem;
  padding-left: 2rem;
}
.subtitle {
  color: var(--burnt-orange);
  font-size: 1.5rem;
  top: 33rem;
  letter-spacing: 0.15rem;
}
 /* PAGES AND CONTENT */
.snapshot-container {
  /* height: 82.5rem; */
  margin-top: 80%;
  background: linear-gradient(
                     rgba(20,20,20, 0.6),
                     rgba(20,20,20, 0.6)),
                     url(../img/yeti.jpg);
   background-attachment: fixed;
   background-position: center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  z-index: 1000;
  position: relative;
}
.projects-container {
  height: 79rem;
  background: linear-gradient(
                     rgba(20,20,20, 0.6),
                     rgba(20,20,20, 0.6)),
                     url(../img/turing.jpg);
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 2;
  position: relative;
  margin-top: 20%;
}
.content {
  background-color: rgba();
  width: 35%;
  text-align: left;
  margin: auto;
}
.content-header {
  font-size: 2rem;
  padding-top: 12vh;
  color: var(--burnt-orange);
}
.disclosure {
  font-style: italic;
  font-size: 1rem;
  margin-top: 2rem;
  line-height: 1.5rem;
}

/* FOOTER */
.footer {
  background-color:rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  padding: 0.3rem;
  text-align: center;
  z-index: 2;
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}
.footer-content {
  color: var(--burnt-orange);
  font-size: 1.2rem;
  margin: 1.5rem;
  opacity: 0.8;
}
.footer-content span {
  font-style: italic;
}
.icon {
  margin: 0 0.5rem;
}
.floating {
  background-color:rgba(0, 0, 0, 0.7);
  bottom: 0;
  position: fixed;
  width: 100%;
}
@media (max-width: 800px) {
  p {
    font-size: 2.4rem;
  }
  .logo {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .content-header {
    font-size: 3rem;
  }
}
