<div class="footer-content">
  <a href="https://www.linkedin.com/in/kbs5280/" target="_blank">
    <i class="fab fa-linkedin fa-2x icon"></i>
  </a>
  <a href="https://medium.com/@krissparks" target="_blank">
    <i class="fab fa-medium fa-2x icon"></i>
  </a>
  <a href="https://twitter.com/kbs5280" target="_blank">
    <i class="fab fa-twitter-square fa-2x icon"></i>
  </a>
  <a href="mailto:kbs5280@gmail.com?Subject=Hello%20there" target="_top">
    <i class="fas fa-envelope fa-2x icon"></i>
  </a>
  </a>
</div>
